.everything {
  margin: 10%;
  padding: 2%;
  margin-left: 18%;
  border: 0.3px white solid;
  background-color: #f6eec7;
  /* border-left-width: 0px; */
  /* align-self: center; */
  /* inline-size: 60%; */
  width: 60%;
  height: auto;
  opacity: 0.7;
}

.everything .header {
  /* position: relative; */
  margin: 20px 300px 5px ;
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 200%;
  /* align-self:stretch; */
  /* align-content: center; */
}
 .everything .errors {
  font-size: 18px;
  color: red;
  margin-left: 8%;
}

.everything .label {
  /* right: unset; */
  font-size: 200%;
  /* align-self: center; */
  /* margin-left: unset; */

}

.everything input {
  width: 99%;
}

.everything .iptt {
  margin-bottom: 7%;
}
.everything .btnn {
  margin-left: 35%;
  width: 30%;
  font-weight: 900;
}
.everything p {
  margin-left: 60%;
  margin-top: 2%;
  font-size: 110%;
  z-index: -1;
}
.everything p span {
  font-size: 130%;
}
.everything p span:hover {
  color: #3f72af;
  z-index: 1;
}